extends ../layout

block content
	.container
		.row
			.showInfo
				.chatPlace 
				.input-group
					textarea.form-control.chatsend(type='text', placeholder="Recipient's username", aria-describedby='basic-addon2')
					span#basic-addon2.input-group-addon.chatsubmit 发送



				


			